<%- include("header") -%>

<div class="box" id="heading">
  <h1> <%= listTitle %> </h1>
</div>

<div class="box">
  <% taskItems.forEach((currTask) => { %>
  <form action="/delete" method="post">
    <div class="item">
      <input type="checkbox" name="checkbox" value="<%=  currTask._id %>" onChange="this.form.submit()">
      <p><%= currTask.title %></p>
    </div>
    <input type="hidden" name="listName" value="<%= listTitle %>">
  </form>
  <% }); %>

  <form class="item" action="/" method="post">
    <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
    <button type="submit" name="buttonItem" value="<%= listTitle %>">+</button>
  </form>

</div>

<%- include("footer") -%>
